@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Montserrat:wght@300;700;900&family=Roboto:wght@400;700&display=swap');

html {
  color: #403F44;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

.title-3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;

}


/* === NAV BAR === */
.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  padding: 16px 0;
  box-shadow: 0 4px 10px -6px rgb(40 41 62);
  transition: all .2s linear;
  background-color: rgba(40, 41, 62, 0.7);
}

.nav-bar:hover {
  padding: 25px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.nav-box-item {
  display: flex;
  align-items: center;
}

.nav-box-item--large {
  width: 45%;
}

.nav__link {
  width: 100%;
  height: 100%;
  color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;

  opacity: .5;
  transition: all .2s linear;
}

.nav__link:hover {
  opacity: 1;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;

  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}

.logo:hover{
  color: #fff;
}

.logo::before {
  content: "";

  background: url(../img/RM.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-right: 14px;

  width: 48px;
  height: 48px;
}

.burger-btn {
  width: 48px;
  height: 48px;
  padding: 17px;

  background: none;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

}

.burger-btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px
}

.active-burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-burger span:first-child,
.active-burger span:last-child {
  display: none;
}

.nav-box--burger {
  display: none;
}

.list--active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.list--active .nav-box-item {
  width: 100%;

  display: flex;
  justify-content: center;
}

.list--active .nav-box-item .nav-box {
  width: 100%;
  margin: 10px 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list--active .nav-box-item .nav-box .nav__link-item {
  padding: 10px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list--active .nav-box-item .nav-box .nav__link-item .nav__link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute--top-nav {
  position: absolute;
  top: 25px;
  right: 45px;
}

.absolute--top-nav .nav-box-item:first-child {
  display: none;
}

.list--active .nav-box-item .logo {
  font-size: 0;
}

.list--active .nav-box-item .logo::before {
  margin: 0;
}

/* === NAV BAR CLOSE  === */


/* vote btn */

.standard-btn {
  background: none;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;

  cursor: pointer;
}

.vote--btn {
  background-color: #0353a3;
  color: #fff;

  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all .2s linear;
}

.vote--btn:hover {
  color: #fff;
  background-color: #016ad3;
  border: 1px solid #016ad3;
}

/* HEADER DATA STATISTICS */
.header{
  width: 100%;
  height: calc(100vh - 100px);
}

.header-statistics{
  margin-top: 100px;
  padding-top: 50px;
}

.header-statistics-box{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.header-statistics-box-item{
  width: 50%;
  padding: 25px;
}

.total-statistics-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-statistics-info-subtitle,
.total-statistics-info-total-proc{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.total-statistics-info-total-pearson,
.total-statistics-info-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.total-p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-style: italic;
  margin-top: 20px;
}


.classification-statistics-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 15px;
}

.classification-statistics-percentages{
  font-weight: 700;
}
.classification-statistics-percentages,
.classification-statistics-num{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.classification-info-statistics{
  padding: 0 10px;
}

.circle-box{
  width: 100%;
  height: 450px;
  margin-top: 50px;

}

.classification-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classification-info-icon{
  margin: 0 25px;
}

.classification-info-icon>*{
  font-size: 150px;
  color: #ffc107;
}

.classification-info-item{
  display: flex;
  align-items: center;
}

.df--reverse{
  flex-direction: row-reverse;
}

.classification-info-item:last-child .classification-info-icon>*{
  color: #0d6efd;
}




/* HEADER DATA STATISTICS */


/* SECTION STATISTICS */
.section-data{
  background-color: rgba(0, 117, 255, 1);
  padding: 70px 0;

  position: relative;
  overflow: hidden;
}

.bg-parallax{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 800px;

  background: url(../img/MD-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.info-statistics-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-statistics-item{
  width: 25%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  text-align: center;
  color: #fff;
}

.info-statistics-num{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;

}

.info-statistics-text{
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic;

}

/* SECTION STATISTICS */


/* SECTION CANDIDATE */
.section-candidate{
  padding: 100px 0;
}

.candidate-header{
  text-align: center;
  margin-bottom: 60px;
}

.team-card{
  display: flex !important;
  flex-direction: column;
  align-items: center;

  padding: 20px 40px;
  min-height: 450px;
}

.team__card-img{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team__card-info{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.team-card-name{
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 2rem;
}

.team-card-text p{
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
}

.dots-carousel{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.dots-carousel button{
  background: transparent;
  border: 1px solid #4E4F6E;
  border-radius: 50%;
  font-size: 0;
  color: transparent;

  width: 12px;
  height: 12px;
  padding: 0;
  
  cursor: pointer;
  transition: all .2s linear;
}

.dots-carousel li{
  margin-right: 20px;
}

.dots-carousel li:last-child{
  margin-right: 0;
}

.dots-carousel li.slick-active button{
  background: #016ad3;
  border: 1px solid #016ad3;
}

/* SECTION CANDIDATE close */


/* SECTION STATISTICS CANDIDATES */

.statistics-candidate-section{
  padding: 100px 0;
}

.chart-area{
  width: 100%;
  height: 500px;
}

/* SECTION STATISTICS CANDIDATES close */


/* ### Contact ### */
.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  margin-top: 60px;
  margin-bottom: 50px;
}

.contact__col {
  width: calc(50% - 30px);
}

.contact__info {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.contact__info p{
  color: rgba(0, 0, 0, 0.6);
}

.contact__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.contact__title p{
  margin: 20px 0;
}

.contact__date {
  font-size: 1rem;
  margin-top: 20px;
}

.contact__date-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.date-icon {
  width: 40px;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;

  font-size: 1.1rem;
  color: #0353a3;
}

.contact__pers-info {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.contact__pers-head {
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.contact__pers-date {
  
  color:rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-input{
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;

  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  
}
.form-input--50{
  width: calc(50% - 10px);
}

#contactMessage{
  resize: vertical;
  min-height: 80px;
  height: 100px;
}

.form-input::placeholder{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);

}

.form-input:focus{
  outline: none;
  border: 1px solid #0b67c3;
  color: rgba(0, 0, 0, 1);

}

.send-btn{
  outline: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0353a3;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;

  transition: all .2s linear;
}

.send-btn:hover{ 
  background-color: transparent;
  color: #0353a3;
  border: 1px solid #0353a3; 
}

.send-btn:active{
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.more-info{
  margin-top: 20px;
}

.more-info a{
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.95rem;
  font-weight: 400;
  font-style: italic;

  transition: all .2s linear;
}

.more-info a:hover{
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}
/* ### Contact page close ### */


/* ### footer ### */
.footer {
  padding-top: 40px;
  margin-top: 40px;
  box-shadow: 0 4px 10px -6px grey;
  box-shadow: 0 -4px 10px -10px grey;
  background-color: #fff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item--max{
  width: 45%;
}

.footer__item--min{
  width: 53%;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 33,333%;
  padding: 5px;
}

.footer__title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.footer__about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--logo{
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.footer__about-text p{
  padding-bottom: 10px;
}

.footer__list-link {
  font-family: 'Roboto', sans-serif;
}

.footer__list-link a{
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.footer-link {
  margin-bottom: 5px;
  transition: all .2s linear;

}

.footer-link>a{
  font-size: 1.25rem;
}

.footer__item:last-child .footer-link{
  text-align: center;
}


.footer-link:hover.footer-link a{
  /* color: rgba(0, 0, 0, 1); */
  color:rgba(0, 117, 255, 1)
}

.footer-link p{
  color: rgba(0, 0, 0, 0.6);
}

#footer-flag{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 15px;
  margin-top: 20px;
}
.flag-color {
  width: 33.3333%;
  height: 100%;
}
.flag--blue {
  background-color: #023CA7;
}
.flag--yellow {
  background-color: #FFD200;
}
.flag--red {
  background-color: #CC0A2F;
}
/* ### footer close ### */




/* ADMIN */

.admin-header{
  width: 100%;
  height: 100vh;

  background-color:rgba(40, 41, 62, 0.7);
}

.admin-card-box{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  background-color: #fff;
  border-radius: 6px;
  padding: 40px;
  text-align: center;
}

.admin-card-box>.vote--btn{
  margin-top: 10px;
  width: 50%;
}

.admin-card-box>.vote--btn:first-child{
  margin-right: 20px;
}

.form-input-box>.vote--btn{
  margin-top: 10px;
  width: 100%;
}


.modal-window-vote{

  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;


  width: 100%;
  height: 100vh;

  background-color:rgba(17, 18, 29, 0.7);
}

.modal-window-box{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  background-color: #fff;
  border-radius: 6px;
  padding: 20px 40px 40px 40px;
  text-align: center;
}

.modal-window-box>button{
  margin-top: 30px;
  width: 100%;
}

.window-close-line{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: -10px;
}

.window-close{
  background: none;
  border: none;
  
  font-size: 1.5rem;
  font-weight: bold;
  color: #0353a3;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
}

.window-close:hover{
  background-color:rgba(3, 83, 163, 0.1);
}

.window--none{
  display: none;
}